# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# IDEA / VSCode
.idea/
.vscode/

# Logs
logs/
*.log

# Docker local data (如果是把 docker-compose 放在这个目录的话)
data/